@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center mt-5">@ViewData["Title"]</h1>

<br />

<div class="text-center">
<h3>Copyright Clarify</h3>
<p>
    © Copyright 2016 Hefei Circuit Fabology Micro-Electronics Equipment Co., Ltd. All rights reserved.
    <br />
    All rights reserved. No part of this publication may be disclosed to third parties or reproduced, stored in a retrieval system, or transmitted in any form or by any means, electronic, mechanical , photocopying, recording or otherwise, without prior written permission from Hefei Circuit Fabology Micro-Electronics Equipment Co., Ltd.
    <br />
    You can obtain a legal copy from your local Hefei Circuit Fabology Micro-Electronics Equipment Co., Ltd., representative quoting the order number on the title page and footer of this document.
    <br />
    Persons who do not observe this copyright statement will be liable for damages.
</p>
<br />
<h3>IMPORTANT NOTICE</h3>
<p> CFMEE reserves the right to alter its products and to make changes in contents, specifications and prices without previous notice.</p>
<br />
<h3>DISCLAIMER</h3>
<p> CFMEE hereby disclaims any liability for damages or injury caused by, or resulting from, any other use of the LDI Series than that specified by CFMEE.</p>
</div>


